
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	
	font-family: "Skranji", system-ui;
	text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Sombra negra */
	background-color: #174209;
	color: #fff;
	
	}
header{
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #172711;
	position: fixed;
	width: 100%;
	z-index: 20;
}

header div img {
	max-width: 50%;
	padding-top: 3%;

}

.horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.horizontal > li > a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
}
.horizontal > li:hover{
	background-color: #174209;
}
.vertical {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: black;
}
.horizontal li:hover .vertical{
	display: block;
}
.vertical li:hover{
	background-color:#174209;
}
.vertical li a{
	display: block;
	color: white;
	padding: 15px 15px 15px 20px;
	text-decoration: none;
}

section  {
	
	background-color: #174209;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-top: 6%;
	width: 100%;
	background-image: url(../imagenes/galeria/logo_casco_fondo1.png);
	background-repeat: repeat;
	
}


.principal{
	width: 100%;
	height: 650px;
	background-image: url(../imagenes/galeria/loki1_.jpg);
	background-repeat:no-repeat;
	background-size: contain;
	display: flex;
	justify-content:center;
	align-items: center;
	color: #ffffff;
	text-align: center;
	
}

.principal div{
	width: 100%;
	padding: 2%;
}

.principal div #logo {
	
	display: flex;
    margin-top: 30%;
    margin-bottom: 0%;
    margin-left: 7%;
    justify-content: center;
    height: 516px;
}


footer{
	display: contents;
    align-items: start;
    justify-content: center;
    height: 350px;
    width: 100%;
	background-color: #174209;

}
footer img{
	max-width: 3rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
	padding: 10%;
}

footer img:hover {
	transform: scale(1.05);
}
footer .redes{

	display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
	background-color: #172711;
	padding-top: 3%;
	padding-bottom: 1%;
	
}

footer .copy{

	display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
	background-color:#172711;
	color: #fff;
	
}

.secundario{
	
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 3%;
	display: flex;
	justify-content: center;
}
.secundario div {
	display: block;
	width: 40%;
	padding-left: 2%;
	text-align: center;
	
	}

.secundario div img {
	width: 100%;
	border-radius: 10px;
	
}

.secundario div.div_inicio:hover{
	transform: scale(1.05);
}

.secundario div a{
	color: white;
	text-decoration: none;
}
.secundario div h2 {
	margin: 5px;
	color: white;
}

.secundario div.parrafo {
	display: inline;
	width: 50%;
	padding-left: 2%;
	text-align:justify;
	
}

div.contenedortemp{
	background-color: #172711;
	margin: 20px;
	border-radius: 10px;
	padding-right: 27px;
}
div.contenedor{
	background-color: #172711;
	margin: 20px;
	border-radius: 10px;
	padding-right: 27px;
}
.secundario div.imaghist {
	display: inline;
	width: 50%;
	padding-left: 2%;
	text-align: center;
}

.secundario div.parrafotemp {
	display: block;
	width: 100%;
	padding-left: 2%;
	text-align:justify;
	
}
.secundario div.imagtemp {
	display: block;
	width: 100%;
	padding-left: 2%;
	text-align: center;
}


.secundario div.div_form {
	display: inline;
	width: 50%;
	padding-left: 2%;
	
}

* {
  box-sizing: border-box;
}

.cards {
  font-family: "Skranji", system-ui;
  display: block;
  align-items: center;
  justify-content: center;
  height: 83.5vh;
  overflow: hidden;
  margin: -1%;
  margin-left: -3px;
  margin-top: 31px;
  background-color: #172711;
  padding-top: 0%;
  border-radius: 10px;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}



.panel.active {
  flex: 5;
}



.panel p {
	font-size: 13px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
  }

  .panel.active p {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
  }

.galeria{

	
	background-color: #172711;
	margin-top: 3%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	padding: 1em;
	border-radius: 10px;

}

.reseñas p{
	background-color: #172711;
	border-radius: 10px;
	text-align: justify;
	font-style: oblique;
	padding: 10px;
}

.reseñas {

	margin-top: 2%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	padding: 1em;
	border-radius: 10px;
}

div#cont_reseñas {
	background-color: #172711;
	border-radius: 10px;
	align-items: center;
	display: ruby;
	padding-top: 20px;
}

div#cont_reseñas img {
	
	height: 100px;
	align-items: center;
	
}
.example-image-link img {

	width: 260px;
	border-radius: 10px;
	height: 150px;
}

.example-image-link:hover {

	transform: scale(1.05);
}

h1 {
	font-family: "Skranji", system-ui;
	align-items: center;
	justify-content: center;
	margin: 0;
	text-align: center;
	color: #fff;
	padding-top: 3%;
	padding-bottom: 0%;
	font-size: 34px;
}

#tituloinicio {

	padding-left: 1%;
    font-size: 45px;
    padding-bottom: 45%;
	display: none;
}
/* aca empieza lo del form*/
div.form {
	display: block;
}
.form{
	
	width:100%;
	height:606px;
	background:#172711;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:0;
	padding:87px 30px;
	box-sizing:border-box;
	font-family:"Skranji", system-ui;
	font-size: 14px;
	position:relative
}

input, textarea{
	color: white;
}
input{
	width:100%;
	margin-top: 30px;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
	font-family: "Skranji", system-ui;
}

input:focus{
	border-bottom:2px solid #78788c
}

button{
	padding:8px 12px;
	margin:50px 0 0;
	border:2px solid #78788c;
	background:0;
	color:white;
	cursor:pointer;
	transition:all .3s;
	font-family: "Skranji", system-ui;
	background-color: #174209;
}

button:hover{
	background:#78788c;
	color:#fff;
}

div.pie_contacto{
	position:absolute;
	bottom:-15px;
	right:9%;
	background:#174209;
	color:#fff;
	width:420px;
	padding:16px 4px 16px 0;
	border-radius:6px;
	box-shadow:10px 10px 40px -14px #000;
}

div.pie_contacto span{
	margin:0 5px 0 15px;
}
/*aca termina lo del form*/

.secundario div.imgcont {

	display: inline;
    width: 50%;
    padding-left: 2%;
    text-align: center;
}

.icon {
	color: white;
	display: none;
}

@media (max-width: 480px) {

    .reseñas {
        grid-template-columns: repeat(1, 1fr);
    }

    header {
        position: sticky;
    }
    .container {
        width: 100vw;
    }
    header div, header a {
        flex: 1 0 50%;
    }

    header div img {
        max-width: 64%;
        padding-top: 2%;
    }
    header nav {
        flex-basis: 100%;
        display: none;
    }

    nav#menu_bar.responsive {
        display: block;
    }

    .icon {
        display: block;
        padding-right: 0.6rem;
        text-align: right;
		padding-top: 9px;
		padding-right: 14px;
		font-size: 22px;
    }
    nav ul {
        display: none;
    }
    nav.responsive ul {
        display: block;
    }
    nav.responsive ul > li {
        display: block;
        text-align: center;
        padding: 0.5rem;
    }
    nav.responsive ul li a {
        padding-right: 0;
    }
    section {
        max-width: 480px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .principal {
        height: 250px;
        padding: 10%;
		margin-top: -29px;
    }

    .principal div {
        height: 598px;
    }
    .principal div img {
        height: 46px;
        padding-left: 19%;
    }
    .secundario {
        margin-top: 1%;
        display: block;
    }
    .secundario div {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        height: 253px;
        margin-top: 5%;
    }

	.secundario div.div_inicio{

		width: 86%;
		height: 275px;
	}
	.secundario div.parrafotemp p {
		display: block;
		width: 100%;
	}

	.example-image-link img{
		width: 100%;
		border-radius: 10px;
		height: 150px;
	}

	.galeria {
		grid-template-columns: repeat(2, 1fr);
	}
    .secundario div a img {
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1rem;
    }
    h4 {
        font-size: 1rem;
    }
    footer {
        height: 80px;
        justify-content: center;
    }
    footer img {
        max-width: 3rem;
    }

    
    .horizontal {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .horizontal > li {
        text-align: center; 
    }

    
    .horizontal > li > .vertical {
        display: none; 
        position: static; 
        width: 100%; 
        background-color: black;
        padding: 0;
        margin-top: 10px; 
        border-radius: 5px;
    }

    
    .horizontal li:hover .vertical {
        display: block;
    }

    
    .vertical li {
        display: block; 
        text-align: center;
        padding: 10px 0; 
        border-bottom: 1px solid #333; 
    }

    .vertical li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 0; 
        white-space: nowrap; 
    }

    .vertical li:hover {
        background-color: #174209;
    }

	div.pie_contacto{
		position:absolute;
		bottom: -20px;
		right:3%;
		background:#174209;
		color:#fff;
		width:335px;
		padding:16px 4px 16px 0;
		border-radius:6px;
		height: 46px;
		box-shadow:10px 10px 40px -14px #000;
	}

	.form{

		padding-left: 30px;
		margin-left: 24px;
		width: 88%;
		padding-top: 38px;
		margin-top: 14px;
		height: 460px;
		margin-bottom: 14px;
	}
	
	div.contenedor {
		padding-right: 5px;
		
	}
	
	div.contenedortemp{
		padding-right: 5px;
		padding-bottom: 817px;	

	}
	.secundario div.imagtemp {

		margin-bottom: -54px;
	}

	.secundario div img {
		width: 356px;
		margin-left: -9px;
	}

	.secundario div.imgcont{
		padding-left: 34px;
	}
	.secundario div h2{
		margin:-3px;
	}

	footer .redes{
		padding-top: 6%;
	}
	
}
