
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	
	font-family: "Skranji", system-ui;
	text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Sombra negra */
	background-color: #174209;
	color: #fff;
	}
header{
	padding-top: 1%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-left: 5%;
	display: flex;
	justify-content: space-between;
	background-color: #172711;
	position: fixed;
	width: 100%;
	z-index: 20;
}

header div img {
	max-width: 50%;

}

.horizontal {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.horizontal > li > a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 20px;
}
.horizontal > li:hover{
	background-color: #174209;
}
.vertical {
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: black;
}
.horizontal li:hover .vertical{
	display: block;
}
.vertical li:hover{
	background-color:#174209;
}
.vertical li a{
	display: block;
	color: white;
	padding: 15px 15px 15px 20px;
	text-decoration: none;
}

section  {
	
	background-color: #174209;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-top: 6%;
	width: 100%;
	
}


.principal{
	width: 100%;
	height: 650px;
	background-image: url(../imagenes/galeria/loki_minutes.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content:center;
	align-items: center;
	color: #ffffff;
	text-align: center;
}

.principal div{
	width: 100%;
	padding: 2%;
}

.principal div #logo {
	
	display: flex;
    margin-top: 70%;
    margin-bottom: -3%;
    margin-left: 31%;
    justify-content: center;
    height: 139px;
}


footer{
	display: contents;
    align-items: start;
    justify-content: center;
    height: 350px;
    width: 100%;
	background-color: #174209;

}
footer img{
	max-width: 3rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
	padding: 10%;
}

footer img:hover {
	transform: scale(1.05);
}
footer .redes{

	display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
	background-color: #174209;
	
}

footer .copy{

	display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
	background-color:#174209;
	color: #fff;
	
}

.secundario{
	
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 3%;
	display: flex;
	justify-content: center;
}
.secundario div {
	display: inline;
	width: 33%;
	padding-left: 2%;
	text-align: center;
	
	}

.secundario div img {
	width: 90%;
	border-radius: 10px;
	
}

.secundario div img:hover{
	transform: scale(1.05);
}

.secundario div a{
	color: white;
	text-decoration: none;
}
.secundario div h2 {
	margin: 5px;
	color: white;
}

.secundario div.parrafo {
	display: inline;
	width: 50%;
	padding-left: 2%;
	text-align:justify;
	
	}
.secundario div.imaghist {
	display: inline;
	width: 50%;
	padding-left: 2%;
	text-align: center;
	
	}
* {
  box-sizing: border-box;
}

#titulopers {

  font-family: "Skranji", system-ui;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #174209;
  text-align: center;
  color: #fff;
  padding-top: 5%;
  padding-bottom: 0%;
}
.cards {
  font-family: "Skranji", system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #174209;
  padding-top: 0%;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 13px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.galeria{

	
	background-color: #172711;
	margin-top: 3%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	padding: 1em;
	border-radius: 10px;

}

.example-image-link img {

	width: 100%;
	border-radius: 10px;
	height: 150px;
}

.example-image-link:hover {

	transform: scale(1.05);
}

h1 {
	font-family: "Skranji", system-ui;
	align-items: center;
	justify-content: center;
	margin: 0;
	text-align: center;
	color: #fff;
	padding-top: 3%;
	padding-bottom: 0%;
	font-size: 34px;
}

#tituloinicio {

	padding-left: 1%;
    font-size: 45px;
    padding-bottom: 45%;
}
@media (max-width: 480px) {

header {
	position: sticky;
}
.container {
    width: 100vw;
  }
  header div, header a {
	flex: 1 0 50%;
}

header div img {
    max-width: 50%;
    padding-top: 2%;
}
header nav {
	flex-basis: 100%;

}

.icon {
	display: block;
	padding-right: 0.6rem;
	text-align: right;
}
nav ul {
	display: none;
}
nav.responsive ul {
	display: block;
}
nav.responsive ul li {
	display: block;
	text-align: center;
	padding: 0.5rem;
}
nav.responsive ul li a {
	padding-right: 0;
}
section{
	max-width: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.principal{
	height: 250px;
	padding: 10%;
}

.principal div{
	height: 598px;

}
.principal div img {
	height: 46px;
	padding-left: 19%;
}
.secundario{
	margin-top: 1%;
	display: block;
}
.secundario div{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	height: 253px;
	margin-top: 5%;
}
.secundario div a img{
	margin-bottom: 1rem;
}
h2{
	font-size: 1rem;
}
h4{
	font-size: 1rem;
}
footer{
	height: 80px;
	justify-content: center;
}
footer img{
	max-width: 3rem;
}
 
}
